*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(148, 175, 239, 0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    background-image: linear-gradient(rgba(25, 128, 247, 0.7),rgba(4,9,30,0.7)),url();
}
.nav-hours{
    margin-top: 10px;
    color: white;
}
nav img{
    height: 150px;
}
.nav-links{
    margin-top: 10px;
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    margin-top: 40px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: rgb(255, 255, 255);
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
}
.text-box h1{
    font-size: 62px;
    z-index: 1;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    z-index: 1;
}
nav .fa{
    display: none;
}
.inline-block-links {
    display: inline-block;
  }

@media (max-width: 700px) {
    nav{
        position: static;
    }
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 14px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -500px;
        text-align: left;
        z-index: 3;
        margin-top: 0px;
        padding: 10px;
        transition: 0.6s;
    }
    nav .fa{
        display: block;
        color: white;
    }
    /* .nav-links ul li{   
    margin-top: 10px;
    list-style: none;
    } */
    .nav-links ul {   
        padding: 5px;
    }
    .nav-right{
        margin-right: 3px;
    }
    .nav-hours{
        position: relative;
        font-size: 10px;
        margin-top: 38px;
    }
}
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
/* .row a{
    margin: 0;
    padding: 0;
} */
.service-col{
    flex-basis: 18%;
    background: #d6e7fb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
}
.service-image{
    width: 45%;
}
.main-peugot{
    width: 100%;
}