*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ------------Navbar------------ */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(148, 175, 239, 0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    background-image: linear-gradient(rgba(25, 128, 247, 0.7),rgba(4,9,30,0.7)),url();
}
.nav-hours{
    margin-top: 10px;
    color: white;
}
nav img{
    height: 150px;
}
.nav-links{
    margin-top: 10px;
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    margin-top: 40px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: rgb(255, 255, 255);
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
}
.text-box h1{
    font-size: 62px;
    z-index: 1;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    z-index: 1;
}
nav .fa{
    display: none;
}
.inline-block-links {
    display: inline-block;
  }

@media (max-width: 700px) {
    .text-box{
        top: 60%;
    }
    nav{
        position: static;
    }
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 14px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -500px;
        text-align: left;
        z-index: 3;
        margin-top: 0px;
        padding: 10px;
        transition: 0.6s;
    }
    nav .fa{
        display: block;
        color: white;
    }
    /* .nav-links ul li{   
    margin-top: 10px;
    list-style: none;
    } */
    .nav-links ul {   
        padding: 5px;
    }
    .nav-right{
        margin-right: 10px;
    }
    .nav-hours{
        position: relative;
        font-size: 12px;
        margin-top: 0px;
    }
}

/* ------------Services------------ */

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.service-col{
    flex-basis: 18%;
    background: #d6e7fb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
}
.service-image{
    width: 45%;
}
@media (max-width:700px) {
    .row{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service-col{
        width: 40%;
        flex-basis: 48%;

    }
    h3{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
        font-size: 15px;
    }
}
.main-peugot{
    width: 100%;
}

/* ------------OUR-WORK------------ */

.our-work{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.galerry-col{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    position: relative;
}
.galerry-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
}
.overlay{
    background: rgba(95, 160, 234, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
@media (max-width: 700px) {
    .galerry-col {
      flex: 40%;
      max-width: 50%;
    }
    .our-work h1{
        font-size: 26px;
    }
}
.ctu{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(82, 82, 82, 0.7),rgba(0,0,0,0.7)),url(images/dashboard-call.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 20px;
    text-align: center;
}
.ctu h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #2d72eb;
    background: #2d72eb;
    transition: 1s;
}
@media (max-width:700px) {
    .ctu h1{
        font-size: 22px;
    }
}
.footer-col{
    flex-basis: 31%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
}
#footerRow{
    background-color: #d6e7fb;
}
